/venv
/__pycache__
/general/handlers/__pycache__
/general/support/__pycache__
/general/__pycache__
/general/MyBot.session
/general/MyBot.session-journal
/general/Olexander.session
/general/Olexander.session-journal
/general/WorkAccount.session
/general/WorkAccount.session-journal